.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
}

.header div:first-child {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}
