.header {
  margin: 1rem 0px;
}

.header-ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  flex-wrap: wrap;
  margin-left: 0;
}

nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 0.5rem;
}

nav .profile {
  display: flex;
  float: right;
}

li {
  list-style: none;
  display: inline-flex;
  align-items: center;
}

li a {
  text-decoration: none;
  color: white;
  display: flex;
  align-items: center;
}

span {
  color: white;
}
