.poster-container {
  max-width: 1600px;
  background-color: rgba(0, 0, 0, 0.5);
  box-shadow: 0 1em 1em black;
  margin: 0 auto;
}
.poster {
  margin-top: 4.5rem;
  max-width: 1300px;
  display: flex;
  flex-direction: column;
  margin: 3.9rem auto;
  background-color: rgba(0, 0, 0, 0.212);
  padding: 0.5rem;
  border-radius: 3px;
}

.background-image {
  max-width: 1300px;
  margin: 0 auto;
}

.background-image img {
  max-width: 100%;
  border-radius: 5px;
  object-fit: cover;
}

.details-container {
  flex-grow: 1;
  text-align: left;
  color: white;
  font-size: 1rem;
  padding: 0.25rem;
  line-height: 1.6rem;
}

.details-container section {
  margin-top: 1rem;
}

.details-container h1 {
  font-size: 1.5rem;
}
