.slider {
  display: flex;
  align-items: center;
  width: 100%;
  margin-top: 60px;
  background-color: rgba(0, 0, 0, 1);
  padding: 0.5rem 0;
  box-shadow: 0 1em 1em black;
  margin-bottom: 2rem;
}

.slider img {
  max-width: 100%;
  display: inline-block;
  object-fit: cover;
  border-radius: 3px;
}

.swiper-slide {
  max-width: 100%;
  max-height: 100%;
}
