.films-container {
  max-width: 1600px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  align-items: center;
  margin: 0 auto;
}

.pagination button {
  border-radius: 10px;
  border: none;
  background-color: #001542;
  color: white;
  padding: 0.5rem;
  font-size: 1rem;
  cursor: pointer;
  margin: 0.5rem;
}

.pagination button:hover {
  background-color: #04256bfb;
}
